/*-----------------------------------------------------------------------------------------------------
    [Master Stylesheet]
		by : mr-rayures.com
    Version : 1.0

    Projet : Scutella
    Website : scutella.fr
  
-------------------------------------------------------------------------------------------------------*/

@import "helpers/_variables";
@import "helpers/_mixins";
@import "helpers/_settings";

@import "global/_reset";
@import "global/_colors";
@import "global/_typography";
@import "global/_helpers";
@import "global/_grid";
@import "global/_commons";

@import "components/_buttons";
@import "components/_overlay";
@import "components/_form";
@import "components/_icons";
@import "components/_breadcrumb";
@import "components/_pagination";
@import "components/_carousel";

@import "modules/_header";
@import "modules/_footer";
@import "modules/_nav";

@import "layout/_page";
@import "layout/_homepage";

