/*-----------------------------------------------------------------------------------------------------
    [colors]
-------------------------------------------------------------------------------------------------------*/

/* Application colors */
$primary          : #333333;
$secondary        : #666666;
$tertiary         : #999999;
$selection        : #FF9A00;
$border-color     : #efefef;

        
/* Typography colors */
$bg-color          : #FFFFFF;
$text-color        : #000000;
$text-color-alt    : #666666;
$title-color       : #000000;


/* Shades of grey */
$grey-lighter     : #F8F8F8;
$grey-light       : #F0F0F0;
$grey             : #DBDBDB;
$grey-dark        : #BBBBBB;
$grey-darker      : #888888;


/* Alerts colors */
$alert            : #FF4160;
$warning          : #F5CD21;
$info             : #76C9D2;
$success          : #0047BB;
$basic            : #F6CFE5;


/* Social colors */
$facebook         : #3B5998;
$twitter          : #55ACEE;
$google           : #DB4A37;
$youtube          : #cd201f;
$pinterest        : #CE2029;
$soundcloud       : #ff6600;




