/*-----------------------------------------------------------------------------------------------------
    [colors]
-------------------------------------------------------------------------------------------------------*/

/* Application colors */
$primary          : #B00834;
$secondary        : #4B4A4D;
$tertiary         : #99CC00;
$selection        : #cccccc;

        
/* Typography colors */
$body-bg          : #FFFFFF;
$body-font        : #000000;
$body-font-alt    : #999999;
$title-font       : #000000;


/* Shades of grey */
$grey-lighter     : #F8F8F8;
$grey-light       : #F0F0F0;
$grey             : #DBDBDB;
$grey-dark        : #BBBBBB;
$grey-darker      : #888888;


/* Alerts colors */
$alert            : #FF4160;
$warning          : #F5CD21;
$info             : #76C9D2;
$success          : #0047BB;
$basic            : #F6CFE5;


/* Social colors */
$facebook         : #3B5998;
$twitter          : #55ACEE;
$google           : #DB4A37;
$youtube          : #cd201f;
$pinterest        : #CE2029;
$soundcloud       : #ff6600;




