/*-----------------------------------------------------------------------------------------------------
    [commons]
-------------------------------------------------------------------------------------------------------*/

/*::-webkit-selection { background : $selection; }
::-moz-selection { background : $selection; }
::selection { background : $selection; }*/

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}
body {  
  background: $bg-color; 
  font-size: 1.4em; /* base font-size is equivalent "14px" */
}

a[href]:not([class]) {
  color: $text-color; 
  text-decoration: underline; 
  transition: color 200ms;
  &:hover { 
    color: $primary;
    //text-decoration: none; 
  }
}

ul,
ol { 
  margin: 0;
  li {
    margin: 0;
    list-style: none;
  }
}

img { 
  height: auto; 
  max-width: 100%; 
  display: block;
}

blockquote {
  color: $text-color;
  font-style: italic;
  font-family: $georgia;
  font-size: 18px;
  line-height: 170%;
  p {
    &:before {
      content: " “ ";
      color: $grey-light;
    }
    &:after {
      content: " ” ";
      color: $grey-light;
    }
  }
}

hr {
  background: $grey-light;
  border:none;
  height: 1px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  th {
    border: 1px solid gray;
    padding: 0.2em;
    text-align: left;
  }
  td {
    border: 1px solid gray;
    padding: 0.2em;
  }
}




