/*-----------------------------------------------------------------------------------------------------
    [helpers]

-------------------------------------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.desktop-only {
  @include mq(small) {
    display: none !important;
  }
}
.mobile-only { 
  display: none !important; 
  @include mq(small) {
    display: block !important;
  }
}

.txtleft { 
  text-align: left; 
}

.txtright { 
  text-align: right; 
}

.txtcenter { 
  text-align: center; 
}

.hidden {
  visibility: hidden;
}
