/*-----------------------------------------------------------------------------------------------------
    [Buttons]
-------------------------------------------------------------------------------------------------------*/

.button {
  transition: all .3s;
  &:hover {}
  &:active {}
  &.primary {}
  &.secondary {}
}


/* === Menu === */
.button-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  [class*="icon-"] {
    color: #FFF;
    font-size: 20px;
  }
  &.open-menu {
    @include mq(medium) {
      display: flex;
    
    }
  }
  &.close-menu {}
}

