/*-----------------------------------------------------------------------------------------------------
    [Forms]

    + Basics
        _Error

    + Custom select
    + Custom Checkbox & Radio
-------------------------------------------------------------------------------------------------------*/


/* Basics
-------------------------------------------------------------------------------------------------------*/
form {}

form fieldset {}

form p {
  margin-bottom: 20px;
}

form label {
  font-weight: 600;
  color: $body-font;
  display: block;
  margin-bottom: 10px;
}

form label span {}

button, 
input, 
select, 
textarea {
  font-family: $arial;
  font-size: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"],
form textarea,
form select {
  border: 1px solid $grey;
  background: #FFF;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  color: $body-font;
  -webkit-border-radius: 0; 
  -webkit-appearance: none !important;
}

form select[multiple="multiple"] {
  height: auto;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin: 0 5px 0 0;
}

form input:disabled {
  background: $grey-light;
  box-shadow: none;
  font-style: italic;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
  border: 1px solid $grey-darker;
}

form textarea {
  padding: 10px;
  height: 150px;
  width: 100%;
  vertical-align: top;
}

form button,
form input[type="submit"] {
  padding-top: 0!important;
  cursor: pointer;
} 


/* === Error & Alert === */

form .error-field label {
  color: $alert;
}

form .error-field input[type="text"],
form .error-field input[type="email"],
form .error-field input[type="date"],
form .error-field input[type="password"],
form .error-field textarea,
form .error-field select,
form .error-field .customSelect {
  border: 1px solid $alert;
}

form .error-info {
  background: $alert;
  font-weight: 600;
  font-style: italic;
  color: #FFF;
  position: relative;
  padding: 10px;
  display: block;
  font-size: 14px;
  margin: 10px 0 0px 0;
  max-width: 470px;
}

form .valid-field input[type="text"],
form .valid-field input[type="email"],
form .valid-field input[type="date"],
form .valid-field input[type="password"],
form .valid-field textarea,
form .valid-field select,
form .valid-field .customSelect {
  border: 1px solid $success;
}



/* Custom select pointer
/* DOC : Filament Group | Doc : https://github.com/filamentgroup/select-css/
-------------------------------------------------------------------------------------------------------*/
.custom-select {
  position: relative;
  display: block;
  border: 1px solid $grey;
  max-width: 470px;
}

.custom-select select {
  width: 100%;
  margin:0;
  background: #FFF;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-select:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  top: 50%;
  right: 1em;
  margin-top:-2px;
  background-image:  url('../img/custom-select-pointer.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  pointer-events:none;
}

.custom-select:hover {
  border-color: $grey-darker;
}

.custom-select select:focus {
  outline:none;
  /*border-color: $grey-darker;*/
  border-color: #FFF;
}

.custom-select option {
  font-weight:normal;
}

/* START OF UGLY BROWSER-SPECIFIC HACKS */
x:-o-prefocus, .custom-select::after { display:none; }    
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .custom-select select::-ms-expand {display: none; } 
  .custom-select select:focus::-ms-value { background: transparent; color: #222; } 
}
@-moz-document url-prefix() { 
  .custom-select { overflow: hidden; } 
  .custom-select select { width: 120%; width: -moz-calc(99% + 3em); width: calc(100% + em); }
}
.custom-select select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000; }




/* Custom Checkbox & Radio
/* DOC : http://www.creativejuiz.fr/blog/tutoriels/personnaliser-aspect-boutons-radio-checkbox-css
-------------------------------------------------------------------------------------------------------*/
form .custom-checkbox,
form .custom-radio {
  line-height: 100%;
}
form .custom-radio input + label {
  margin-right: 20px;
  padding-top: 4px;
}

form .custom-checkbox input[type="checkbox"]:not(:checked),  
form .custom-checkbox input[type="checkbox"]:checked,
form .custom-radio input[type="radio"]:not(:checked),  
form .custom-radio input[type="radio"]:checked {  
  position: absolute;  
  left: -9999px;  
}
     
form .custom-checkbox input[type="checkbox"]:not(:checked) + label,  
form .custom-checkbox input[type="checkbox"]:checked + label,
form .custom-radio input[type="radio"]:not(:checked) + label,  
form .custom-radio input[type="radio"]:checked + label {  
  position: relative; 
  padding-left: 30px; 
  cursor: pointer;    
}

form .custom-checkbox label {
  margin-bottom: 10px;
}

form .custom-checkbox input[type="checkbox"]:not(:checked) + label:before,  
form .custom-checkbox input[type="checkbox"]:checked + label:before,
form .custom-radio input[type="radio"]:not(:checked) + label:before,  
form .custom-radio input[type="radio"]:checked + label:before {  
  content: '';  
  position: absolute;  
  left: 1px; 
  top: 3px;  
  width: 16px; 
  height: 16px; 
  border: 1px solid $grey; 
  background: #FFF; 
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
} 

form .custom-checkbox input[type="checkbox"]:not(:checked) + label:before,  
form .custom-checkbox input[type="checkbox"]:checked + label:before {
  top: -1px;
  border-radius: 4px;
}

form .custom-radio input[type="radio"]:not(:checked) + label:before,  
form .custom-radio input[type="radio"]:checked + label:before { 
  border-radius: 20px;
}

form .custom-checkbox input[type="checkbox"]:checked + label:before, 
form .custom-radio input[type="radio"]:checked + label:before {  
  border: 1px solid $grey; 
} 

form .custom-checkbox input[type="checkbox"]:not(:checked) + label:after,  
form .custom-checkbox input[type="checkbox"]:checked + label:after,
form .custom-radio input[type="radio"]:not(:checked) + label:after,  
form .custom-radio input[type="radio"]:checked + label:after {  
  content: '✔';  
  position: absolute;  
  top: 0px; 
  left: 5px; 
  font-size: 14px;  
  color: $secondary;  
  @include transition();
}  

form .custom-radio input[type="radio"]:not(:checked) + label:after,  
form .custom-radio input[type="radio"]:checked + label:after { 
  content: '';
  top: 8px;
  left: 6px;
  width: 8px;
  height: 8px;
  background: $secondary;
  border-radius: 10px;
}

form .custom-checkbox input[type="checkbox"]:not(:checked) + label:after, 
form .custom-radio input[type="radio"]:not(:checked) + label:after {  
  opacity: 0;  
  @include transform(scale(0));
}  

form .custom-checkbox input[type="checkbox"]:checked + label:after, 
form .custom-radio input[type="radio"]:checked + label:after { 
  opacity: 1; 
  @include transform(scale(1));
}  

form .custom-checkbox input[type="checkbox"]:disabled:not(:checked) + label:before,  
form input[type="checkbox"]:disabled:checked + label:before {  
  box-shadow: none;  
  border-color: #bbb;  
  background-color: #ddd;  
}  

form .custom-checkbox input[type="checkbox"]:disabled:checked + label:after {  
  color: #999;  
}  
 
form .custom-checkbox input[type="checkbox"]:disabled + label {  
  color: #aaa;  
}  
   
form .custom-checkbox input[type="checkbox"]:checked:focus + label:before,  
form .custom-checkbox input[type="checkbox"]:not(:checked):focus + label:before {  
  /*border: 1px dotted blue; */ 
} 

