/*-----------------------------------------------------------------------------------------------------
    [mixins]
-------------------------------------------------------------------------------------------------------*/

@mixin mq($bp){
  @media #{map-get($bps, $bp)} {
    @content;
  }
}

@mixin grid_reset() {
  width: auto;
  margin: 0; 
  float: none;
}
