/*-----------------------------------------------------------------------------------------------------
    [variables]
-------------------------------------------------------------------------------------------------------*/
$grid-columns       : 12;
$max-width          : 1400px;
$gutter             : 20px;


/* Breackpoint */
$xsmall   : 450px; 
$small    : 767px; 
$medium   : 960px;
$large    : 1200px;
$xlarge   : 1600px;

/* Typo */
$arial                    : Arial, Helvetica, Arial, sans-serif;
$georgia                  : Georgia, "Times New Roman", Times, serif;
$open-sans                : 'Open Sans', sans-serif;
$open-sans-condensed      : 'Open Sans Condensed', sans-serif;
